<h1><%= @restaurant.name %></h1>

<%= @restaurant.address %>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <%= review.rating %> stars || <%= review.content %>
    </li>
  <% end %>
</ul>
<%= link_to "Write a review", new_restaurant_review_path(@restaurant) %> || <%= link_to "Back to list", restaurants_path %>
